debian/*.debhelper.log
debian/*.debhelper
debian/*.install
debian/*.substvars
debian/tmp/
debian/libaio-ocaml/
debian/libaio-ocaml-dev/
debian/files
*.o
*.a
*.cma
*.cmo
*.cmx
*.cmxa
*.cmi
*.so
*-stamp
lib/._bcdi/
lib/._d/
lib/._ncdi/
*~
